<link rel="stylesheet" href="/stylesheets/accountInfoFlyout.css">
<div class="flyout-card">
    <div id="container-username">
        <div class="username" id="flyout_username_value">Some User 1234</div>
        <i class="bi bi-pen"></i>
    </div>
    <div id="container-email">
        <div class="email" id="flyout_email_value">someuser@example.com</div>
        <i class="bi bi-pen"></i>
    </div>
    <a href="#">Change Password</a>
    <button class="logout-btn">Log out</button>
</div>