<link rel="stylesheet" href="/stylesheets/accountInfoFlyout.css">
<div class="flyout-card">
    <div class="username" id="flyout_username_value">Some User 1234</div>
    <div class="email" id="flyout_email_value">someuser@example.com</div>
    <button class="logout-btn">Log out</button>
</div>