.flyout-card {
    width: 315px;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #2D2D2D;
}
.username {
    font-size: 24px;
    margin-bottom: 0.5rem;
    text-decoration: underline;
    color: #000;
}
.email {
    color: #666;
    margin-bottom: 1rem;
    font-size: 16px;
}
.logout-btn {
    background-color: #D65C5C;
    border: none;
    color: white;
    padding: 0.75rem;
    border-radius: 6px;
    width: 100%;
    font-size: 1rem;
}
.logout-btn:hover {
    background-color: #A66E6E;
}
#container-username{
    display: flex;
}
#container-email{
    display: flex;
}
a{
    padding-bottom: 10px;
}