body{
    background-color: #fbfbfb;
    font-family: "Inter", sans-serif;
}
#container {
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 0 20px; /* Add some padding on the sides */
}

.card {
    width: 400px;
    padding: 20px;
    background-color: #fbfbfb;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.action-icon{
    margin-right: 15px;
    padding: 5px;
    border-radius: 8px;
}

.action-icon:hover{
    cursor: pointer;
    background-color: grey;
}

.action-icon:last-child{
    margin-right: 0;
}

#input-new-entry-box{
    width: 100%;
    min-width: 400px;
    display: block;
}

#image-userAvatar {
    width: 40px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 50%;
    fill: #2d2d2d;
    background-color: grey;
}

#div-toolbar{
    width: 400px;
    margin: 20px 20px 20px auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

#input-search-box{
    height: auto;
    padding: 8px;
}

#new-note-container-div {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 0 15px;
}

#flyout{
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 2;
    visibility: hidden;
    display: none;
}

#empty_message_div {
    color: #666666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    display: none; /* Ensures it's initially hidden and takes no space */
}

.edit-active{
    padding: 5px;
}

.modal-actionButton-container-div {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    padding: 0;
    margin: 0 16px 16px 16px; /* Add some space above the buttons */
}

.modal-actionButton-container-div button{
    margin-left: 10px;
}

.invalid-feedback{
    margin-bottom: 10px;
}

